* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  text-align: center;
}

body {
  background-color: #eee;
}

div {
  padding-bottom: 1rem;
}

h1 {
  margin: 1rem;
  color: #111;
  text-shadow: 3px 3px 3px #919191;
}

form>* {
  display: inline-block;
  margin-top: 0.5rem;
}

label {
  color: #414141;
  text-shadow: 2px 2px 2px #aaa;
  font-size: 1.5rem;
  font-weight: bold;
}

input {
  width: 50vw;
  max-width: 500px;
  margin: 1rem 0;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1.5px solid #000;
  background-color: #eee;
  box-shadow: 0px 0px 5px 0px #818181;
}

input:focus {
  outline: none;
  transition: transform 150ms ease-out;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 5px #515151;
}

button {
  padding: 0.5rem 2.5rem;
  border-radius: 5px;
  background-color: #111;
  font-size: 1rem;
  border: 1.5px solid black;
  color: #eee;
  box-shadow: 0px 0px 10px 2px #aaa;
}

button:focus,
button:hover {
  outline: none;
  transition: transform 250ms ease-in-out;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 2px black;
  cursor: pointer;
}

.links {
  display: inline-block;
  text-decoration: none;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #212121;
  text-shadow: 0.5px 0.5px 2px #111;
}

.links:focus,
.links:hover {
  transition: transform 150ms ease;
  transform: scale(1.2);
}

.homePage {
  margin: 1rem;
}

.homePage img {
  display: inline-block;
  width: 100%;
  margin: 1rem 0;
  box-shadow: 5px 5px 5px 5px #aaa
    /* padding: 2rem; */
}